---
import { SEO } from "astro-seo";
import LoginStatus from "../components/LoginStatus.astro"

export interface Props {
	title: string;
	user: any;
	isLoggedIn: boolean;
}

const { user, title } = Astro.props;
const isLoggedIn = !(user == null);

import '@fontsource/roboto/300.css'
import '@fontsource/roboto/400.css'
import '@fontsource/roboto/700.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script>
			// VERCEL ANALYTICS
			window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };

			// WEB_VITALS
			import { webVitals } from "../lib/vitals.js"

			let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

			if (analyticsId) {
				webVitals({
					path: location.pathname,
					params: location.search,
					analyticsId,
				});
			}
		</script>
		<script defer src="/_vercel/insights/script.js"></script>
		<title>{title}</title>

		<!-- <SEO
			title=""
			description=""
			twitter={{
				card:"summary",
				site:"<username>"
			}}
			extend={{
				meta: [
					{
						name: "twitter:image",
						content: "image hosted from public directory",
					},
						{ name: "twitter:title", content: "" },
						{ name: "twitter:description", content: "" },
					],
			}}
		/> -->

	</head>
	<body>
		<div class="container mx-auto px-4 font-roboto">
			<div class="">
				<LoginStatus isLoggedIn={isLoggedIn}></LoginStatus>
				<div class="pt-8 max-w-xl">
					<article class="prose-lg lg:prose-xl">
						<slot/>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>
