---
export interface Props {
	title: string;
}
const { title } = Astro.props as Props;

// Builder.io API key and model
const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const builderModel = import.meta.env.BUILDER_TURMERIC_MODEL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script>
			// VERCEL ANALYTICS
			window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };

			// WEB_VITALS
			import { webVitals } from "../lib/vitals.js"

			let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

			if (analyticsId) {
				webVitals({
					path: location.pathname,
					params: location.search,
					analyticsId,
				});
			}
		</script>
		<script defer src="/_vercel/insights/script.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<header>This is your header</header>
	
		<builder-component model={builderModel} api-key={builderAPIpublicKey}
		></builder-component>
		<script async src="https://cdn.builder.io/js/webcomponents"></script>
	
		<footer>This is your footer</footer>
	  </body>
</html>
